In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [0]:
###1. Change 'FlightNumber' column

In [0]:
df.loc[1, 'FlightNumber'] = 10055
df.loc[3, 'FlightNumber'] = 10075

In [0]:
df= df.astype({'FlightNumber': int})

In [7]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [0]:
###2. Creating two columns in place of one 'From_To'

In [0]:
df['From'] = df['From_To'].apply(lambda x: x.split('_')[0])
df['To'] = df['From_To'].apply(lambda x: x.split('_')[1])

In [10]:
df

            From_To  FlightNumber  ...      From         To
0      LoNDon_paris         10045  ...    LoNDon      paris
1      MAdrid_miLAN         10055  ...    MAdrid      miLAN
2  londON_StockhOlm         10065  ...    londON  StockhOlm
3    Budapest_PaRis         10075  ...  Budapest      PaRis
4   Brussels_londOn         10085  ...  Brussels     londOn

[5 rows x 6 columns]

In [0]:
###3. Capitalising text in newly created columns. Deleting 'From_To' column

In [0]:
df['From'] = df['From'].apply(lambda x: x.capitalize())
df['To'] = df['To'].apply(lambda x: x.capitalize())

In [0]:
df.drop('From_To', axis=1, inplace=True)

In [0]:
cols = df.columns.to_list()

In [0]:
cols = cols[-2:] + cols[:-2]

In [16]:
cols

['From', 'To', 'FlightNumber', 'RecentDelays', 'Airline']

In [0]:
df = df[cols]

In [18]:
df

       From         To  FlightNumber  RecentDelays              Airline
0    London      Paris         10045      [23, 47]               KLM(!)
1    Madrid      Milan         10055            []    <Air France> (12)
2    London  Stockholm         10065  [24, 43, 87]  (British Airways. )
3  Budapest      Paris         10075          [13]       12. Air France
4  Brussels     London         10085      [67, 32]          "Swiss Air"

In [0]:
###4. Processing 'RecentDelays' columns

In [20]:
for i in range(3):
  df[f'delay_{i+1}'] = df['RecentDelays'].apply(lambda x: np.nan if len(x)<i+1 else x[i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
df

       From         To  FlightNumber  ... delay_1 delay_2  delay_3
0    London      Paris         10045  ...    23.0    47.0      NaN
1    Madrid      Milan         10055  ...     NaN     NaN      NaN
2    London  Stockholm         10065  ...    24.0    43.0     87.0
3  Budapest      Paris         10075  ...    13.0     NaN      NaN
4  Brussels     London         10085  ...    67.0    32.0      NaN

[5 rows x 8 columns]

In [22]:
###5. Deleting 'RecentDelays' columns
df.drop('RecentDelays', axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
df

       From         To  FlightNumber  ... delay_1  delay_2  delay_3
0    London      Paris         10045  ...    23.0     47.0      NaN
1    Madrid      Milan         10055  ...     NaN      NaN      NaN
2    London  Stockholm         10065  ...    24.0     43.0     87.0
3  Budapest      Paris         10075  ...    13.0      NaN      NaN
4  Brussels     London         10085  ...    67.0     32.0      NaN

[5 rows x 7 columns]